.list_btn{
    background-color: #602cc0;
    border-radius: 6px;
    padding: 5px 8px 5px 8px;
    border: solid 1px #602cc0;
}
.list_btn > a{
    color: #fff;
    text-decoration: none;
}
.fav{
    border-bottom: solid 1px #602cc0;
}

.back_btn{
    background-color: #602cc0;
    border-radius: 6px;
    padding: 5px 8px 5px 8px;
    border: solid 1px #602cc0;
    color: #fff;
    text-decoration: none;
}
.fav_list{
    line-height: 27px;
}