.list {
    padding: 20px;
    height: 80vh; /* Set a fixed height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .favorite-item {
    display: flex;
    margin-bottom: 10px;
    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }
  